<!-- Modal add -->

<div class="modal fade bd-example-modal-lg" id="modalAdd" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="h3Title" class="modal-title">Order Line</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bd-example bd-example-tabs">
                    <div class="row">
                        <div class="col-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="tab" th:href="@{/rest/category/}" role="tab"
                                    aria-controls="v-pills-home" aria-selected="true" data-target="#page1">Home</a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="tab" th:href="@{/candidat/modal/profile}" role="tab"
                                    aria-controls="v-pills-profile" aria-selected="false" data-target="#page2">Profile</a>
                                <a class="nav-link" id="v-pills-messages-tab" data-toggle="tab" th:href="@{/candidat/modal/message}" role="tab"
                                    aria-controls="v-pills-messages" aria-selected="false" data-target="#page3">Messages</a>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="page1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                </div>
                                <div class="tab-pane fade" id="page2" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
                                <div class="tab-pane fade" id="page3" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- /.modal -->