<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:fragment="end">
          
<script src="../js/jquery-3.4.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="../bootstrap-4.4.1/js/bootstrap.min.js"></script>
<script src="../js/swal.js"></script>
<script src="../js/product-rest.js"></script>

<th:block layout:fragment="order-js"></th:block>

</th:block>