<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Rest API</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/category/}">
              <span data-feather="file-text"></span>
              Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/variant/}">
              <span data-feather="file-text"></span>
             Variant
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" th:href="@{/product/}">
              <span data-feather="file-text"></span>
              Product
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/order/}">
              <span data-feather="file-text"></span>
              Order
            </a>
          </li>
        </ul>
	</div>
</nav>